backend:
  name: git-gateway
  branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "projects"
    label: "Projects"
    folder: "content/projects"
    create: true
    fields:
      - { label: "Project Title", name: "title", widget: "string" }
      - { label: "Project Image", name: "image", widget: "image" }
      - { label: "Project Description", name: "body", widget: "markdown" }

  - name: "pages"
    label: "Pages"
    files:
      - name: "about"
        label: "About Me Section"
        file: "content/about.md"
        fields:
          - { label: "Title", name: "title", widget: "string"}
          - { lable: "Description" , name: description, widget: "markdown"}